*,html,body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./assets/w6.jpg");
    color: white;
    font-family: "Raleway", sans-serif;
}

.lobby {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#name-input {
    width: 400px;
    height: 50px;
    max-width: 65%;
    font-size: 24px;
    padding: 8px;
}

#play-button {
    width: 100px;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
    padding: 8px;
    margin-left: 4px;
}

.wait-area,.status {
    display: none;
}

.wait-area h1 {
    text-align: center;
    font-size: 48px;
    color: white;
    background-color: #00000073;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 8px;
}

.status h1 {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    padding: 8px;
    text-align: center;
}

.game {
    display: none;
    background-color: #00000073;
    min-height: 100vh;
    padding: 8px;
}

.scorecard {
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.vs {
    margin: 0 16px;
}

.score {
    width: 300px;
    border: 2px solid #d3d3d2;
    border-radius: 10px;
    padding: 8px 16px;
    text-align: center;
}

.timeout {
    font-size: 40px;
    border: 2px solid;
    width: 120px;
    text-align: center;
    margin: 24px auto 8px;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
}

.question {
    /* color: #9b2b2b; */
    margin: 24px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    max-width: 1000px;
}

.option {
    padding: 16px 8px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
    margin: 8px;
    width: 400px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    max-width: 80%;
}

.option:hover {
    background-color: #7fbf55;
}

@media only screen and (max-width: 600px) {
    .scorecard {
        font-size: 16px;
        margin: 8px;
    }

    .vs {
        margin: 0 8px;
    }

    .score{
        width: auto;
        padding: 8px;
    }

    .question {
        font-size: 24px;
    }
}

